*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
  font-family: sans-serif;
}
ul{
  list-style: none;
 
}
header{

  width: 100%;
  background-color: transparent;
  z-index: 11;
 position: absolute;

}
.container{
  padding-left:10% ;
  padding-right:10% ;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 67px;
}
.logo{
  width: 100px;
}
.logo img{
width: 100%;
}
header .links{
  display: flex;
  align-items: center;
  gap: 20px;
}
header .links ul{
display: flex;
align-items: center;
gap: 20px;
}
header .links ul li{
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
  transition: .1s ease;
}
.links ul .active{
  color: #ef6820;
  border-bottom: 2px solid #ef6820;

}
.links ul li:hover{
  color: #ef6820;
  border-bottom: 2px solid #ef6820;
}
.btn{
  width: fit-content;
  padding: 10px 15px;
  border: 1px solid #ef6820;
  border-radius: 5px;
  color: #ef6820;
  transition: .5s;
  cursor: pointer;
}
.btn:hover{
  background-color: #ef6820;
  color: white;
}
.btn.icon{
  background-color: #ef6820;
  color: white;
 
}
.landing,.uniqeSection,.how_to_work{
  background-image: url("https://i.pinimg.com/564x/ba/57/10/ba5710bcca7ababac65278cb6512daaf.jpg");
  background-size: cover;
 width: 100%;
 min-height: 100vh;
 position: relative;
}
.landing .rotate-text{
  position: absolute;
  rotate: 270deg;
  top: 50%;
  left: -180px;
  font-size: 18px;
  letter-spacing: 1.5;
  font-weight: normal;
  font-family: sans-serif;
  /* position: relative; */
}

.landing .rotate-text .textspan{
margin-left: 20px;
}
.landing .star,.uniqeSection .star{
  position: absolute;
  width: 30px !important;
  bottom: 100px;
  height: 30px;
  left: 90px;
  border-radius: 50%;
  object-fit: cover;
}
.landing .content{
  position: absolute;

  display: flex;
 
  align-items: center;
  top: 30%;
  align-items: flex-start;
 width: 1000px;
  gap: 50px;
}


.landing .content .box {
width: 50%;
text-wrap: wrap;
font-family: sans-serif;
position: relative;
z-index: 13;
}
.landing .content h1{
  font-size: 60px;
  text-transform: capitalize;
  letter-spacing: 0px;

}
.landing .content h1 span{
  font-size: 77px;
  color: #ef6820;
} 
.landing .content .sec
.Darklanding .content .secbox
{
  line-height: 1.5;
}
.landing .content .sec h5,.Darklanding .content .secbox h5,.cart .info h5,.darkSmart .content .text .first h5,.how_to_work .content .info h5{
  text-transform: capitalize;
  color: #ef6820;
  font-size: 20px;
  position: relative;
  margin-left: 50px;

}
.landing .content .sec h5::before,
.Darklanding .content .secbox h5::before,
.cart .info h5::before,
.darkSmart .content .text .first h5::before,
.how_to_work .content .info h5::before
{
  content: "";
  position: absolute;
  background-color: #ef6820;
  width: 50px;
  height: 2px;
  top: 50%;
  left: -52px;
}
.landing .content .sec p{
  color: gray;
}
.landing .content .sec .cercle,.cart .cercle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ef6820;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-weight: bold;
  margin-top: 20px;
  position: relative;
  z-index: 113;
}

.landing .content .sec .cercle span ,.cart .cercle span{
 

  position: absolute;
  width: 20px;
  height: 20px;
  background: #ef6820;
 
  border-radius: 50%;
  top: 10px;
  right: 4px;
  z-index: 2;
;

}
.landing .centerImg{
  position: absolute;
  z-index: 111;
  top: 80%;
  left: 28%;
  height: 200px;
  width: 500px;
}


.Darklanding,.darkSmart{
  background-image: url("https://i.pinimg.com/564x/e3/50/1d/e3501d3aa8ac3cd6e405bdfd93cd5529.jpg");
  background-size: cover;
 width: 100%;
 min-height: 100vh;
 position: relative;

}
.Darklanding .content{
  display: flex;
  color: white;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 30%;
  width: 700px;
  gap: 50px;

}
.Darklanding .content .box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Darklanding .content .box h1{
  font-size: 60px;
}
.Darklanding .content .secbox{
display: flex;
flex-direction: column;
gap: 10px;
text-transform: capitalize;
line-height: 1.5;
margin-right: 100px;
}
.Darklanding .content .secbox .btn{
  color: white;
  background-color: #ef6820;
  margin-top: 10px;
}
.Darklanding .teckImg{
  position: absolute;
  width: 250px;
  height: 300px;
  bottom: -80px;
  right: 200px;
  z-index: 111;
}
.Darklanding .premImg{
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: -60px;
  right: 400px;
  border-radius: 50%;
  z-index: 111;
}
/* startuniqeSection */
.uniqeSection{
  background-image: url("https://i.pinimg.com/564x/3f/8d/57/3f8d572022eca2cad8bd110b087487f3.jpg");
}
.uniqeSection img{
width: 300px;
height: 300px;
}
.uniqeSection .content{
  display: flex;
  max-width: 700px;
  gap: 80px;
  justify-content: center;
  align-content: center;
padding-top: 100px;
padding-bottom: 120px;
position: relative;
margin: auto;
}
.uniqeSection .content .box{
  display: flex;
  flex-direction: column;


}
.uniqeSection .content .box .cart{
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 1px gray;
  -webkit-box-shadow:0px 0px 10px 1px gray;
  -moz-box-shadow: 0px 0px 10px 1px gray;

left: 20px;
width: 300px;
margin-left: 30px;
z-index: 111;
position: relative;
}
.uniqeSection .content .box .cart .info{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.uniqeSection .content .box .cart .info p{
  color: gray;
}
.uniqeSection .content .box .cart .plus{
  background-color: #eee;
  width: 20px;
  height: 20px;
  border-radius:50% ;
display: flex;
justify-content: center;
align-items: center;
}
.cart .cercle{
right: 10%;
  bottom: -30%;
}


/* enduniqeSection */
/* start darkSmart */
.darkSmart{
  color: #eee;
  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 60px;
}
.darkSmart .content{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.darkSmart .content .text{
display: flex;
justify-content: space-around;
align-items: center;
gap: 30px;

}
.darkSmart .content .text p{
  line-height: 1.4;
  color: gray;
}
.darkSmart .content .text .first{
/* width: 30%; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.darkSmart .content .text .third{
  /* margin-left: 30px; */
}

.darkSmart .content .text .second{
  width: 40%;
}
.darkSmart .content .text .third{}
.darkSmart .content .text .third p{
border-bottom: 1px solid gray;
width: fit-content;
}
.darkSmart .boxs{
  display: flex;
  justify-content: space-around;
}
.darkSmart .boxs .box{
  background-color: rgba(31,31,31,255);
 width: 30%;
 height: 300px;
 border-radius: 4px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 15px;
 padding: 0px 20px;
}
.darkSmart .box_back{
  background-image: url("https://i.pinimg.com/564x/eb/46/ef/eb46efc7819b35e45c863452e9336f71.jpg");
  position: relative;
}
.darkSmart .box_back::before{
position: absolute;
content: "";
width: 100%;
height: 100%;
background: rgb(31 31 31 / 92%);
top: 0;
left: 0;
}
.darkSmart .boxs .box .icon{
  font-size: 30px;
  color: #ef6820;

}
.darkSmart .boxs .box ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.darkSmart .boxs .box ul .bullet{
  color: #ef6820;
  margin-right: 5px;
}
.darkSmart .bullets{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.darkSmart .bullets span{
  display: block;
  width: 10px;
  height: 10px;
 border: 1px solid #ef6820;
  border-radius: 50%;
}
/* end darkSmart */
/* start how_to_work */
.how_to_work{

}
.how_to_work .content{
display: flex;
padding-top: 100px;
padding-bottom: 100px;
/* justify-content: space-between; */
gap: 50px;
}
.how_to_work .content .box{
  /* width: 50%; */
}
.how_to_work .content .first{
 display: flex;
 flex-direction: column;
 gap: 50px;
}
.how_to_work .content .info h3{
  font-size: 30px;
}
.how_to_work .content img{
  width: 200px;
  height: 250px;
  rotate: 20deg;
}
.how_to_work .second{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.how_to_work .box .infoText{
  display: flex;
text-align: end;
justify-content: space-between;

}
.how_to_work .box .infoText .text{
width: 50%;

}
.how_to_work .box .infoBeforeText{
  position: relative;
  padding-left: 10px;

}
.how_to_work .box .infoBeforeText::before{
  content: "";
  position: absolute;
background-color:#ddd;
width: 1px;
height: 140vh;
border-radius: 50%;
left: -3%;
top: -100px;
}
.how_to_work .box .infoText .text  h3{
  display: flex;
  align-items: center;

}
.how_to_work .box .infoBefore .text h3{
  position: relative;
}
.how_to_work .box .infoBefore .text  h3::after{
content: "";
position: absolute;
background-color:gray;
width: 10px;
height: 10px;
border-radius: 50%;
left: -7%;
}
.how_to_work .box .infoBefore .text  .firstOne::after{
  background-color: #ef6820;
}
 .how_to_work .infoLeft{
  text-align: justify;
  /* padding-right: 40px; */
 }
 .how_to_work .infoLeft .text{
  padding-right: 30px;
 }
 .how_to_work .infoLeft h3{
  justify-content: end;
  position: relative;
 }
 .how_to_work .infoLeft .text h3::before{
position: absolute;
content: "";
background-color:gray;
width: 10px;
height: 10px;
border-radius: 50%;
right: -7%;
 }
 .how_to_work .infoLeft p{
  text-align: justify;
 }
/* end how_to_work */